<ion-grid fixed style="position: fixed;bottom: 0;background: #090979;padding: 20px 10px;border-radius: 15px;color: #faf4f0;">
    <ion-row>
        <ion-col size="4" style="align-items: flex-start;display: flex;justify-content: space-evenly;flex-direction: column;">
            <h5 class="paymentAmount" style="
            font-size: 10px;
        ">
                Total : (2 Items)
            </h5>
            <h5 class="paymentAmount">
                Rs 500.00/-
            </h5>
        </ion-col>
        <!-- <ion-col size="4" style="display: flex;justify-content: center;
        align-items: center;">
            <div class="countBox">
                <div class="decressBox">-</div>
                <div class="qtyBox">01</div>
                <div class="incressBox">+</div>
            </div>
        </ion-col>
        <ion-col size="4">
            <ion-button expand="block" fill="#faf4f0" shape="round">
                Cart
            </ion-button>
        </ion-col> -->
        <ion-col size="8">
            <ion-button expand="block" fill="#faf4f0" shape="round">
                Proceed to checkout
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>