<ion-grid fixed>
    <ion-row nowrap>
        <ion-col size="12" class="scrollBox">
            <ion-chip class="selectChipBg chipBg">
                <ion-avatar>
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>Avatar</ion-label>
            </ion-chip>
            <ion-chip class="chipBg">
                <ion-avatar>
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>Chip</ion-label>
            </ion-chip>
            <ion-chip class="chipBg">
                <ion-avatar>
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>Avatar Chip</ion-label>
            </ion-chip>
            <ion-chip class="chipBg">
                <ion-avatar>
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>Avaip</ion-label>
            </ion-chip>
        </ion-col>
    </ion-row>

</ion-grid>