.welcomeTxt{
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}
.welcomeName{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}
.bargMenu {
    transform: rotate(270deg);
    font-size: 1.3rem;
}
.backBtn{
    font-size: 1.3rem;
}
.dFjcSAaiC{
    display: flex;
    justify-content: space-around;
    align-items: center;
}