<ion-grid fixed>
    <ion-row style="display: flex;align-items: center;justify-content: space-between;">
        <ion-col size="1">
            <ion-row>
                <ion-checkbox checked></ion-checkbox>
            </ion-row>
        </ion-col>
        <ion-col size="11" style="padding: 20px 5px;
        background: #faf4f0;
        border: 1px solid #fff;
        border-radius: 20px;">
            <ion-row>
                <ion-col size="6" class="productBg" style="height: 8rem;">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="" style="
                    width: 70%;
                ">
                </ion-col>
                <ion-col size="6" class="productDBox" style="padding: 0 0 0 10px;">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText" style="font-size: 18px;">
                        <ion-row>
                            <ion-col size="6" style="    display: flex;
                            justify-content: center;
                            align-items: center;">
                                <strong>500.00 </strong>
                            </ion-col>
                            <ion-col size="6">
                                <div class="countBox" style="
                                width: 100%;
                                border: 1px solid #090979;
                            ">
                                    <div class="decressBox">-</div>
                                    <div class="qtyBox">01</div>
                                    <div class="incressBox">+</div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </h3>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="1">
            <ion-row>
                <ion-checkbox></ion-checkbox>
            </ion-row>
        </ion-col>
        <ion-col size="11" style="padding: 20px 5px;
        background: #faf4f0;
        border: 1px solid #fff;
        border-radius: 20px;">
            <ion-row>
                <ion-col size="6" class="productBg" style="height: 8rem;">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="" style="
                    width: 70%;
                ">
                </ion-col>
                <ion-col size="6" class="productDBox" style="padding: 0 0 0 10px;">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText" style="font-size: 18px;">
                        <ion-row>
                            <ion-col size="6" style="    display: flex;
                            justify-content: center;
                            align-items: center;">
                                <strong>500.00 </strong>
                            </ion-col>
                            <ion-col size="6">
                                <div class="countBox" style="
                                width: 100%;
                                border: 1px solid #090979;
                            ">
                                    <div class="decressBox">-</div>
                                    <div class="qtyBox">01</div>
                                    <div class="incressBox">+</div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </h3>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="1">
            <ion-row>
                <ion-checkbox checked></ion-checkbox>
            </ion-row>
        </ion-col>
        <ion-col size="11" style="padding: 20px 5px;
        background: #faf4f0;
        border: 1px solid #fff;
        border-radius: 20px;">
            <ion-row>
                <ion-col size="6" class="productBg" style="height: 8rem;">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="" style="
                    width: 70%;
                ">
                </ion-col>
                <ion-col size="6" class="productDBox" style="padding: 0 0 0 10px;">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText" style="font-size: 18px;">
                        <ion-row>
                            <ion-col size="6" style="    display: flex;
                            justify-content: center;
                            align-items: center;">
                                <strong>500.00 </strong>
                            </ion-col>
                            <ion-col size="6">
                                <div class="countBox" style="
                                width: 100%;
                                border: 1px solid #090979;
                            ">
                                    <div class="decressBox">-</div>
                                    <div class="qtyBox">01</div>
                                    <div class="incressBox">+</div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </h3>
                </ion-col>
            </ion-row>
        </ion-col>
        <!--<ion-col size="12">
            <ion-row>
                <ion-col size="12" class="productBg">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="">
                </ion-col>
                <ion-col size="12" class="productDBox">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText"><strong>Rs 500.00/-</strong></h3>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-col size="12" class="productBg">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="">
                </ion-col>
                <ion-col size="12" class="productDBox">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText"><strong>Rs 500.00/-</strong></h3>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="6">
            <ion-row>
                <ion-col size="12" class="productBg">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="">
                </ion-col>
                <ion-col size="12" class="productDBox">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText"><strong>Rs 500.00/-</strong></h3>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="6">
            <ion-row>
                <ion-col size="12" class="productBg">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="">
                </ion-col>
                <ion-col size="12" class="productDBox">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText"><strong>Rs 500.00/-</strong></h3>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="6">
            <ion-row>
                <ion-col size="12" class="productBg">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="">
                </ion-col>
                <ion-col size="12" class="productDBox">
                    <ion-label class="productName">Product Name</ion-label>
                    <h5 class="descriptionText">size: something</h5>
                    <h3 class="paymentText"><strong>Rs 500.00/-</strong></h3>
                </ion-col>
            </ion-row>
        </ion-col> -->
    </ion-row>
</ion-grid>