<ion-grid fixed>
    <ion-row>
        <ion-col size="12">
            <ion-row>
                <ion-col size="12" class="detailsProductBg">
                    <img src="../../../assets/icon/sumith.jpg" alt="" srcset="">
                </ion-col>
                <ion-col size="12" class="detailsProductDBox">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="6">
                                <ion-label class="detailsProductName">Product Name</ion-label>
                                <h5 class="descriptionText">size: something</h5>
                            </ion-col>
                            <ion-col size="6" class="endBox">
                                <ion-label class="detailsProductName baseBgColor">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-half"></ion-icon>
                                </ion-label>
                                <h5 class="descriptionText">(250 reviews)</h5>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <hr>
                    <ion-grid fixed style="
                    margin-bottom: 50px;
                ">
                        <ion-row>
                            <ion-col size="12">
                                <h4 class="productTitle">
                                    Product Description
                                </h4>
                                <p class="descriptionNote">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti mollitia veniam repudiandae neque ipsum dolor numquam delectus accusantium nisi quo voluptatum ex vel molestias aliquam ea itaque, officia aut eaque. Illo ipsa quaerat minus aspernatur!
                                    Magnam maxime expedita id et hic quisquam optio provident sequi autem. Nostrum rem temporibus ex cupiditate? Debitis possimus repellendus quidem quisquam doloremque voluptatem natus excepturi.
                                </p>
                            </ion-col>

                        </ion-row>
                    </ion-grid>

                </ion-col>
            </ion-row>
        </ion-col>

    </ion-row>
</ion-grid>